@font-face {
    font-family: 'Neue Haas Grotesk ';
    src: local('Neue Haas Grotesk  Light'), local('Neue-Haas-Grotesk--Light'),
        url('NeueHaasDisplay-Light.woff2') format('woff2'),
        url('NeueHaasDisplay-Light.woff') format('woff'),
        url('NeueHaasDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }